# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.gb

# Test ROMs - cloned during test run, not part of repo
gb-test-roms/

# Dependency directories (remove the comment below to include it)
# vendor/
roms/
!internal/memory/roms/
!internal/memory/roms/Tetris (World) (Rev A).gb
.vscode/
.idea/
